/* resetting browser stuff */
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

/* styling our overall page */
body     {
  background: #F7F7F7;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}

#head1,.login_header{
  background: #222;
  color: #FFF;
  padding: 20px 30px;
  
}

/* logo */
#logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 49%;
}
#logo img    {
  width: 200px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
  float:right;
}
#logo span   {
  display: inline-block;
  float:left;
}

/* styling our main content */
.hero           {
  min-height: 500px;
  text-align: center;
  background-image: url('../img/main.jpeg');
  background-size: cover;
}
.hero-content   {
  padding-top: 130px;
}
.hero-content h1   {
  font-size: 100px;
  margin: 0;
}
.hero-content p    {
  font-size: 50px;
}

.redirect
{
 	font-size:15px;
	padding: 7px;
    background-color:#66757F;
    border:#000 2px ridge;
	border-radius: 8px;
    color:#FFF;
    border-color:#000;
    text-shadow:#999 2px; 
	height:40px;  

}
.hero-content a    {
  display: inline-block;
  border: 3px solid #FFF;
  width:300px;
  height:300px;
}

.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* basic site sections */
.site-section   {
  padding-left: 50px;
  padding-right: 50px;
}
.site-section-side   {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-header {
  text-align: center;
  margin-left: 30px;
}
.section-header h2  {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}
/* feature boxes */
.feature-box   {
  display: inline-block;
  width: 33%;
  padding: 20px 30px;
}
.feature-box img  {
  margin-bottom: 12px;
  width: 80px;
}
.feature-box h5   {
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
}
#container img  {
  margin-bottom: 12px;
  width: 80px;
}

#container1 {
  width: 80%;
  /*border-radius: 25px;*/
  border: 2px solid Black;
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
}

#container2 {
  width: 80%;
  /*border-radius: 25px;*/
  border: 2px solid Black;
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
}

#container3 {
  width: 80%;
  /*border-radius: 25px;*/
  border: 2px solid Black;
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
}

#x {
    position: absolute;
    background: gray;
    color: black;
    top: -10px;
    right: -10px;
}

#container:after {
  content: '';
  display: block;
  clear: both;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: absolute;
  z-index: 2;
  top: 10;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav h3{
padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
  display: block;
}

@media screen and (max-height: 300px) {
.sidenav {padding-top: 20px;}
.sidenav h3 {font-size: 18px;}}

.box1, .box2, .box3 {
  
  /*border-radius: 25px;*/
  border: 2px solid gray;
  padding: 15px 10px 15px 10px;
  margin: 15px 20px 15px 10px;
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
  text-align:center;
  color:#FFF;
    
    
}#upper1{
  /*background-color:#fff2df;*/
  background: #222;
  color: #FFF;
  width:55%;
  height:100px;
  float:left;
  display: inline-block;
  
  }
  #upper2
  {
  background: #222;
  color: #FFF;
  height:100px;
  float:right;
  display: inline-block;
  }
  #main_logo
  {
  margin-top:3.5%;
  margin-left:20%;
  width:200px;
  height:50px;
  border-radius: 10%;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  
  }
  #login_tr
  {
  margin-left:60%;	
  }
  table
  {
  margin-top:3%	
  }
  #login_button
  {
    background-color:#674d3c;
    border:#000 2px ridge;
    color:#FFF;
	font-size: 12px;
	border-radius: 8px;
	padding: 7px;
  }
  a
  {
    color:#8B9DC3;
  }
  #lower1
  {
	background: #F7F7F7;
	font-family: Arial, Helvetica, sans-serif;
    height:680px; 
    width:55%;
    float:left;
  }
  #lower2
  {
	background: #F7F7F7;
	font-family: Arial, Helvetica, sans-serif;
    height:680px; 
    width:45%;
    float:left;
  }
  p
  {
    color:#006;
  }
  #plower_1
  {
    font-size:24px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight:bold;
    margin-left:13%;
  }
  #connect_img
  {
    margin-left:13%;
    height:220px;
    border-radius: 20px/10px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.50);
  }
  .tdlower1
  {
    width:67%;	
    border-radius:10px;
    height:30px;
    border-color:#8B9DC3;
    font-size:16px;
    border-width:thin;
  }
  #caption1
  {
    font-size:36px;
  }
  .th_lower
  {
    margin-left:0%;
    font-size:20px;
    font-family:"Times New Roman", Times, serif;
    font-weight:bold;
  }
  .font
  {
  font-size:14px	
  }
  select
  {
    width:15%;
    height:30px
  }
  #create_acc
  {
    font-size:15px;
	padding: 7px;
    background-color:#674d3c;
    border:#000 2px ridge;
	border-radius: 8px;
    color:#FFF;
    border-color:#000;
    text-shadow:#999 2px; 
	height:20px;  
	
  }
  .tdlower
  {
    border-radius:10px;
    height:30px;
    border-color:#8B9DC3;
    font-size:16px;
    border-width:thin;
  }
  #td_gender
  {
    font-size:14px;
    font-weight: bold;   
  }
  a{
  color:#3B5998;	
  }

  /* main navigation */
nav     {
  width: 50%;
  display: inline-block;
  text-align: right;
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
nav ul li a:hover   {
  background: #444;
}

